/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
 header{
     margin-left: 100px;
     margin-top: 80px;
 }
/*---------------- 
1st section Styles
------------------ */

.container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.journey{
   width: 100%;
   margin-left: 100px;
}
.journey h1{
    font-size: 2.5em;
}
.camera{
    width: 100%;
    margin-left: 100px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;


}
        /*----------------
        2nd section Styles 
        -----------------*/
        .popular-collection{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .section-title{
            text-align: center;
            padding-bottom: 20px;
        }
        .collections{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 50px;
        }
        .collection{
           width: 330px;
           border: 1px solid linen;
           border-radius: 10px;
           margin: 0 20px;
           box-shadow: 10px 10px 10px lightgray ;
        }
        .thumbnail{
            padding: 20px 15px;
        }
        .details{
            padding-left: 15px;
        }
        .info{
           padding-left: 15px;
           font-size: 12px;
        }
        .details p{
            font-size: 20px;
        }
        .fa-star.filled{
            color: orange;
        }
        .fa-star.empty{
            color: lightgray;
        }
       .info span {
            padding-left: 10px;
            color: grey;
            font-size: 15px;
        }
        .info p{
            color: rgb(97, 95, 95);
            font-size: 15px
        }
        .see-more{
            text-decoration: none;
            color: #E02C6D;
            font-weight: 700;
            margin: 40px 0;
            padding-left: 980px;    
        }

        /* bonus section style */
        .product{
            width: 80%;
            margin-left: 130px;
            padding: 25px 0;
        }
        .featured{
            width: 100%;
            margin-right: 100px;
        }

           /* footer */

        footer{
            text-align: center;
            color: white;
            background-color: #0A0826;
            padding: 30px 0;
        }
      footer a{
            color: white;
            padding-right: 10px;
        }
            
