/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 100px;
}

/*---------------- 
1st section Styles
------------------ */

.container{
    display: flex;
    align-items: center;
}
.journey{
   width: 100%;
}
.journey h1{
    font-size: 2.5em;
}
.camera{
    width: 100%;
    margin-left: 100px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;


}